{% extends 'base.html' %}

{% block title %}Create new post{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'home' %}">Boards</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
</li>
<li class="breadcrumb-item active">
    New Topic
</li>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Post</button>
</form>
{% endblock %}