{% extends 'base.html' %}

{% load static %}

{% block title %}Post a reply{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'home' %}">Boards</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'board_topics' topic.board.pk %}">
        {{ topic.board.name }}
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{{ topic.get_absolute_url }}">
        {{ topic.subject }}
    </a>
</li>
<li class="breadcrumb-item active">
    Reply
</li>
{% endblock %}